:root {
  --main-color-light: #be9856;
  /* --main-color-light: #d7b777; */
  --main-color-dark: #00354a;
}

body {
  background: url(../images/bg.png) no-repeat center center / cover fixed;
}

.greet {
  font-size: 50px;
  color: var(--main-color-light);
}

.finished-tasks button,
.dropdown-menu .li,
.modal-footer button[data-bs-dismiss="modal"] {
  background-color: var(--main-color-dark);
}

.tasks button,
.finised-no,
.modal-footer button:not([data-bs-dismiss="modal"]) {
  background-color: var(--main-color-light);
}

.finised-no {
  width: 50px;
  height: 25px;
  line-height: 25px;
}

button:hover {
  color: initial !important;
}

.finished-tasks .dropdown-item:hover {
  background-color: rgb(92, 92, 92);
}

.dropdown-item:hover {
  border-radius: 5px;
}

.list-group,
.dropdown-menu {
  width: calc(100% - 34px) !important;
  transform: translateX(17px);
}

ul.dropdown-menu li {
  background-color: #00354a9e !important;
  color: white !important;
  opacity: 0.75 !important;
}

.tasks button:not(:disabled) {
  cursor: auto !important;
}

.fa-chevron-down {
  transition-duration: 0.5s;
}

.fa-plus,
.fa-trash-can,
.fa-square,
.fa-square-check {
  cursor: pointer;
}

input[type="text"]:focus {
  border-color: rgba(235, 197, 131, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(235, 197, 131, 0.6);
  outline: 0 none;
}

@media screen and (max-width: 768px) {
  .greet {
    font-size: 35px;
  }

  button.fs-4 {
    font-size: 20px !important;
  }
}
